
body {
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  color: rgba(104,64,102, 0.8);
  background-color: white;
}

.about_body, .index_body, .menu_body{
  background-image: url("../images/wall.jpg");
  background-position: center;
  backdrop-filter: blur(3px);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(104,64,102, 0.50);
  position: sticky;
  top: 0px;
  left: 0px;
}

.nav_links {
  display: flex;
  text-transform: uppercase;
  align-content: flex-start;
  justify-content: center;
  background-color:rgba(255,255,255, 1.0); 
  padding: 7px;
  margin: -8px;
  margin-right: 0px;
}

.nav_links a {
  font-weight: bolder;
  font-size: 10px;
  padding: 13px;
  padding-bottom: 5px;
  color: rgba(104,64,102, 0.9);
  text-decoration: none;
}

.header_img {
  width: 100vw;
}

#current {
  text-decoration: underline;
}

.main, .menu, .contact {
  background:rgba(255,255,255, 0.9);
  width: 400px;
  margin: auto;
}

h1 {
  color: rgb(122, 81, 120);
  padding-top: 20px;
  margin-top: 25px;
  text-align: center;
  font-size: 25px;
}

#gallery_header {
  padding-bottom: 10px;
}

h2 {
  color: rgba(104,64,102, 1);
  text-align: center;
  padding: 5px;
}

p {
  text-align: center;
  padding: 10px; 
}

.main > a, .menu > a {
  display: none;
}

#gallery_grid {
  display: grid;
  grid-template-columns: 75vw;
  justify-content: center;
}

#gallery > img {
  width: 100%;
  padding-bottom: 10px;
} 

footer {
  position: fixed;
  width: 100vw;
  min-height: 50px;
  bottom: -10px;
  left: 0;
  background:rgba(104,64,102, 1.0);
  text-align: center;
  color: #FFFFFF;
}

footer p {
  padding-top: 10px;
  font-size: 13px;
}


@media screen and (min-width: 800px){
}


/** Code for prefers reduced motion **/
/* Make no changes below this line.
   *************************************** 
   */
@media screen and (prefers-reduced-motion: reduce){
  /*Turn off scroll*/
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  /*Turn off transition*/
  .skip a{
    -webkit-transition: initial; /* sets to default setting */
    transition: initial; /* sets to default setting */
  }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}
